  .popup{
    font-family: var(--RacingSans);
    
     position: fixed;
     width:400px;
     height:200px;
     background:var(--romanSilver);
     left: -50%;
     transform: translateX(-50%);
     top:100px;
     z-index:2;
     border-radius: 10px 10px;
 }
 .showPopup{
     left: 50%;
 }
 .message{
     width: 95%;
     height:auto;
     padding:0px 1px;
     margin: 2.5% auto;
     border-radius: 10px;
     color:white;
     text-align: center;
     font-size: 25px;
 }
 .message h2{
     margin:0px;
     padding:0px;
     font-size:30px;
     font-weight:lighter;
 }
.h2Span{
    font-size:33px;
    font-weight: lighter;
    text-decoration: underline;
}

.start{
    color:white;
    font-family: var(--RacingSans);
     position: fixed;
     width:400px;
     height:200px;
     background:var(--romanSilver);
     left: 50%;
     transform: translateX(-50%);
     top:100px;
     z-index:2;
     border-radius: 10px 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     box-shadow: 0px 0px 1220px 1149px rgba(0,0,0,0.75);     
    /* display: none;
 */    }
.hideStart{
    left:-200%
}

.start h2{
    font-weight: lighter;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:200px;
    height:150px;
}
input{
    font-size: 30px;
    width:100%;
    height:44px;
    margin-bottom:15px;
    border-radius:10px;
    background:var(--lightGray);;
}