  .popup{
    font-family: var(--RacingSans);
     position: fixed;
     width:350;
    height: 150px;

     background:var(--romanSilver);
     left: -50%;
     transform: translateX(-50%) scale(1.9);;
     top:100px;
     z-index:2;
     border-radius: 10px 10px;
     padding:5px;
 }
 .showPopup{
     left: 50%;
 }
 .message{
     width: 95%;
     height:auto;
     padding:0px 1px;
     margin: 2.5% auto;
     border-radius: 10px;
     color:white;
     text-align: center;
     font-size: 25px;
 }
 .message h2{
     margin:0px;
     padding:0px;
     font-size:30px;
     font-weight:lighter;
 }
.popup .btnBox{
    justify-content: space-between;
}
.popup .btn{
    width:150px;
}
.start{
    color:white;
    font-family: var(--RacingSans);
     position: fixed;
     width:350px;
     min-height:200px;
     height: auto;
     background:var(--romanSilver);
     left: 50%;
     transform: translateX(-50%);
     top:10px;
     z-index:2;
     border-radius: 10px 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding:3px;
     box-shadow: 0px 0px 1220px 1149px rgba(0,0,0,0.75);     
    /* display: none;
 */    }
.hideStart{
    display:none;
}

.start h2{
    font-weight: lighter;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:200px;
    height:150px;
}
input{
    font-size: 30px;
    width:100%;
    height:44px;
    margin-bottom:15px;
    border-radius:10px;
    background:var(--lightGray);;
}