.stats{
    position: relative;
    top:0px;
    padding:7px;
    padding-bottom: 0px;
    height:99vh;
    width:20vw;
    color:white;
    background:var(--romanSilver)
}
.stats p{
    margin:0px;
}
.statsContainer{
    position: relative;
    height: 80%;
    width:92%;
    margin:0 auto;
    margin-bottom: 10px;
    border:3px solid white;
    display:flex;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
}
.boxStats{
    margin:5px 0px;
    border-radius:10px;
    padding: 4px;
    width:90%;
    height:80px;
    background:var(--lightGray);
    color:var(--sapphire);
    
    font-family:var(--RacingSans);
} 

.name {
 font-size: 23px;  
 width:100%;
 border-bottom:1px solid var(--romanSilver)
}