.stats{
    position: relative;
    top:0px;
    padding:7px;
    padding-bottom: 0px;
    height:99vh;
    width:20vw;
    color:white;
    background:var(--romanSilver)
}
.stats h2{
    margin:0px;
}
.statsContainer{
    position: relative;
    height: 80%;
    width:92%;
    margin:0 auto;
    margin-bottom: 10px;
    border:3px solid white;
    display:flex;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
}
.boxStats{
    display: block;
    border-radius:10px;
    margin-top:10px;
    width:88%;
    height:10%;
    background:var(--lightGray);
    color:var(--sapphire);
    padding:0 5px;
    font-family:var(--RacingSans);
} 
.level{
    width:100%;

    margin:1px;
}  
.moves {
    padding-left: 45%;
    text-align: right;
    font-size: 28px;
}