
body{
    margin:0;
    padding:0;
    min-width:98vw;
    min-height:93vh;
}
.container{
    border:1px solid black;
    margin: 50px auto;
    background:none;
    padding:0;
    display:grid;
    grid-template-columns: auto auto auto auto;
}

 .level1{
     position: relative;
    background:tan;
    margin: 0;
    padding: 0;
    border:1px solid red;
    text-align: center;
    padding-top:10%;
    font-size: 40px;
    min-width: 50px;
    min-height: 50px;
    font-size: 14px;
 }
 .show{
    background:tomato;
    z-index:-1;
 }
 .dispNone{
     display: none;
 }
 .color{
    background:tomato;
 }
 
