:root{
    --sapphire:#0F55B2;
    --diamond: #C8ECFE;
    --romanSilver: #809292;
    --stelTeal:#5F8892; 
    --lightGray: #D6D1CE;
    --RacingSans: 'Racing Sans One', cursive;
}
body{
    margin:0;
    padding:0;
    background:rgb(63, 62, 62)
    
}
.btnBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    color:white;
}
.btn{
    width:130px;
    padding:10px 0px 10px 0px;
    height:20px;
    border:3px solid white;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-family: var(--RacingSans);
}
.btn:hover{
    border-color:var(--sapphire) ;
    color:var(--sapphire)
}
.btn:active{
    background: var(--sapphire);
    color:white;
}

.container{
    background:none;
    padding:0;
    position: absolute;
    right:100px;
    top:50px;
    display:grid;
    grid-template-columns: auto auto auto auto auto auto;
    background:none;
    border:3px solid white;
    padding:20px;
    border-radius:10px;
}

 .level1{
     position: relative;
    background:var(--sapphire);
    margin: 0;
    padding: 0;
    border:1.5px solid #D6D1CE;
    font-size: 40px;
    width:125px;
    height:150px;
    font-size: 14px;
    border-radius: 5px;
    margin-left:4px;
    margin-top:4px
 }
 .show{
    background:var(--diamond);
    z-index:-1;
    color:black;
 }
 h4{
     text-align: center;
     font-size:3em;
     color:var(--sapphire)   
 }
 







